.dessert-card {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ffebed;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
  max-width: 380px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .dessert-card {
    width: 300px;
  }
}

.dessert-card-title {
  font-size: 24px;
  font-weight: 700;
  color: #6e1a2b;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recipe {
  background-color: #ffeef0;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
}

.recipe-title {
  font-size: 18px;
  font-weight: 600;
  color: #6e1a2b;
  margin-bottom: 6px;
}

.recipe-subtitle {
  color: #6e1a2b;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.ingredients-list {
  padding-left: 18px;
  margin: 6px 0;
  list-style: disc;
}

.ingredients-list-item {
  font-size: 14px;
  line-height: 1.5;
  color: #6e1a2b;
}

.ingredients-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  list-style-type: disc;
  color: #6e1a2b;
}

.wrap-btn-dessert-card {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.textarea-notes {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  border: 2px solid #6e1a2b;
  padding: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  resize: none;
  margin-bottom: 5px;
}

.describe-dessert {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #6e1a2b;
  white-space: pre-line;
}

.btn-dessert-card {
  color: #6e1a2b;
  font-size: 9px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 16px;
  background-color: #ffebed;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.btn-dessert-card:hover {
  background-color: #f48fa3;
  border-color: transparent;
  fill: white;
  color: white;
  cursor: pointer;
}