     <div class="container">
        <nav class="nav">
          <ul class="nav-list">
            <li><a href="./index.html" class="nav-link">Головна</a></li>
            <li><a href="./menu.html" class="nav-link">Список рецептів</a></li>
          </ul>
        </nav>
      </div>