* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffe0e4;
  background-image: url("/img/background.png");
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
}

.section-form-menu .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 21px;
  margin: 0 auto;
  background-color: #ffebed;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
}

@media screen and (min-width: 600px) {
  .section-form-menu .container {
    width: 550px;
  }
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cookie {
  width: 100px;
  height: 125px;
  animation: spin 1.5s linear infinite;
}

.menu-desserts .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .menu-desserts .container {
    width: 600px;
  }
}
@media screen and (min-width: 800px) {
  .menu-desserts .container {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-desserts .container {
    width: 1200px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe0e4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.btn-create-recepie {
  color: #6e1a2b;
  font-size: 9px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 16px;
  background-color: #ffebed;
  margin: 0 auto;
  transition:
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

svg {
  pointer-events: none;
}

.btn-create-recepie:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  fill: white;
  cursor: pointer;
}
