@use "./layouts/mainLayouts/header.scss";
@use "./layouts/mainLayouts/formCreateDessert.scss";
@use "./layouts/mainLayouts/listIngredientsRecepie.scss";
@use "./layouts/mainLayouts/listRecepieDessert.scss";
@use "./layouts/mainLayouts/modalDiameter.scss";

@use "./layouts/listDessertsLayouts/filterForm.scss";
@use "./layouts/listDessertsLayouts/listCardDesserts.scss";

@use "./layouts/calculator/wrapInfoCalculator.scss";
@use "./base/common.scss";
