* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    height: auto;
}

fieldset {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
     background-color: #ffe0e4;
}



.header {
  padding-top: 20px;
  padding-bottom: 50px;
  padding: 27px 25px;
  background-color: #ffe0e4;
  box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px
    #ffe0e4;
}

.header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.nav-link {
      text-transform: uppercase;
  color: #6e1a2b;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: none;
  padding: 27px 25px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
background-color: white;
border-radius: 16px;
}
/* header  */








.list-menu-recepie {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}


.menu-recepie {
    padding-top: 20px;
    background-color: #ffe0e4;
}

.menu-title-recepie {
      font-size: 40px;
    font-weight: 700;
    color: #6e1a2b;
   margin-bottom: 40px;
    text-align: center;
}

.menu-recepie .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 21px;
    margin: 0 auto;
}

.dessert-card {
    background-color: #ffebed;
    /* світло-рожевий */
    border-radius: 16px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
    width: 250px;
    /* width: 400px; */
    /* щоб не розтягувалась */
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dessert-card-title {
    font-size: 24px;
    font-weight: 700;
    color: #6e1a2b;
   margin-bottom: 20px;
    text-align: center;
    
}


.recipe-list {
display: flex;
flex-direction: column;
gap: 12px;

}


.recipe {
      background-color: #ffeef0; /* ще світліший рожевий */
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white
}

.recipe-title {
     font-size: 18px;
  font-weight: 600;
  color: #6e1a2b;
  margin-bottom: 6px;
}

.recipe-subtitle {
  color: #6e1a2b;
  font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 500;
margin-bottom: 5px;
}

.ingredients-list {
     padding-left: 18px;
  margin: 6px 0;
   list-style: disc;
}

.ingredients-list-item {
     font-size: 14px;
  line-height: 1.5;
  color: #6e1a2b;
}

.ingredients-list-text {
font-size: 16px;
font-weight: 400;      /* темно-сірий, не чорний */
line-height: 1.6;      /* зручний інтервал */
list-style-type: disc; /* кружечки */
color: #6e1a2b;
}

.btn-delete-dessert {
     background-color: white;
  border-color: transparent;
 color: #6e1a2b;
  cursor: pointer;
}

.btn-delete-dessert {
    margin-top: 20px;
  color: #6e1a2b;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  border-radius: 16px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
margin-left: auto;
margin-right: auto;
}

.btn-delete-dessert:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  cursor: pointer;
}