* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 20px;
  padding-bottom: 50px;
}

.header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}

.section-form-menu .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}

.list-menu {
  width: 900px;
  display: flex;
flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 15px;
  justify-content: center;
}

.list-item {
  display: flex;
  gap: 20px;
  justify-content: center;
      text-align: center;
  align-items: center;
  flex-direction: column;
}

.btn-delete {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  width: 150px;
  height: 40px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-delete:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
  cursor: pointer;
}
.wrap-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.desert {
  margin-top: 10px;
}

.btn-successfully {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  width: 110px;
  height: 40px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-successfully:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.add-btn-desert {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  width: 110px;
  height: 40px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.add-btn-desert:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
  cursor: pointer;
}
.desert {
  border: 1px solid rgb(196, 196, 196);
  width: 100%;
  height: 44px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.label-desert {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.form-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.btn-add {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  width: 210px;
  height: 40px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.btn-add:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
  cursor: pointer;
}



.input-ing {
margin-top: 20px;
margin-bottom: 20px;
}

.title-form {
  text-align: center;
  margin-bottom: 10px;
}

.wrap-form-text {
  display: flex;
}

.list-ingredients {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.title-recepie {
  text-align: center;
  margin-bottom: 10px;
}

.item-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


/* ----------------- */


.wrap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recepie-item {
      display: flex;
      gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrap-recepie {
  display: flex;
     gap: 20px;
    justify-content: center;
    align-items: center;
}

.form-recepie-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none;
}

.list-ingredients-recepie {
display: flex;
flex-direction: column;
gap: 10px;
}

.list-ingredients-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn-successfully-desert {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
    color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0);
  width: 210px;
  height: 40px;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);

}


.btn-successfully-desert:hover {
  background-color: rgb(0, 0, 0);
  border-color: transparent;
  color: white;
  cursor: pointer;
}




/* MENUUU CSS */


.list-menu-recepie{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.menu-recepie .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}