<!doctype html>
<html lang="en">
  <head>
{{> head}}
  </head>
  <body>
  <div id="preloader">
    <img src="./img/loader.png" alt="Loading..." class="cookie" />
  </div>
    <header class="header">
      {{> header}}
    </header>
    {{!-- <script type="module" src="/src/main.ts"></script> --}}
  </body>
</html>
