<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    <div id="preloader">
        <img src="/img/loader.png" alt="Loading..." class="cookie" />
    </div>
    <header class="header">
        {{> header}}
    </header>
    <main>
        <section>
            <div class="container">
                <div class="wrap-info">
                <h2 class="title-calculator">Калькулятор перерахунку на інший діаметр</h2>
                    <form class="form-calculation">
                        <label for="dessert" class="label-select">1. Оберіть десерт
                        <select class="select-desserts" name="diametrDessert" id="dessert">
                        </select>
                        </label>
                          <label for="diametr" class="label-select">2. Введіть новий діаметр
                        <select name="diametrDessertNeed" class="select-desserts" id="diametr">
                            <option value="8">8 см</option>
                            <option value="10">10 см</option>
                            <option value="12">12 см</option>
                            <option value="14">14 см</option>
                            <option value="16">16 см</option>
                            <option value="18">18 см</option>
                            <option value="20">20 см</option>
                        </select>
                        </label>
                        <div class="wrap-submit">
                            <p class="label-select">3. Отримуєте рецепт з потрібним вам діаметром</p>
                        <button type="submit" class="result-submit-btn">Розрахувати десерт</button>
                        </div>
                    </form>
                </div>
                <div class="wrap-card"></div>
            </div>
        </section>
    </main>
    <script type="module" src="/src/scripts/calculator.ts"></script>
</body>

</html>