<!DOCTYPE html>
<html lang="en">
<head>
 {{> head}}
</head>
<body>
       <div id="preloader">
    <img src="./img/loader.png" alt="Loading..." class="cookie" />
  </div>
  <header class="header">
      {{> header}}
    </header>
    <main>
  <section class="menu-desserts">
        <div class="container">
        {{> filterForm}}
         <ul class="list-menu-recepie"></ul>
            </div>
        </section>
    </main>
        <script type="module" src="/src/scripts/listDesserts.ts"></script>
</body>
</html>