  <h1 class="menu-title-dessert">Меню</h1>
          <form>
            <label class="label-filtr-menu">
              Фільтр по назві десерту
              <input type="text" class="filtr-menu" />
            </label>
          </form>