<h1 class="menu-title-dessert">Меню</h1>
<form class="form-filtr">
  <label class="label-filtr-menu">
    Фільтр по назві десерту
    <input type="text" class="filtr-menu" name="filter-dessert" />
  </label>
</form>