   <h1 class="title-dessert">Створення десерту</h1>
          <button type="button" class="add-btn-dessert">
            Створити десерт
          </button>
          <form class="form-container-dessert hidden">
            <label for="dessert" class="label-input-dessert">Назва десерту</label>
            <input
              type="text"
              name="dessertName"
              id="dessert"
              class="input-dessert"
            />
            <button type="submit" class="btn-create-dessert">Готово</button>
          </form>