   <h1 class="menu-title-recepie">Створення десерту</h1>
          <button type="button" class="add-btn-desert hidden">
            Створити десерт
          </button>
          <form class="form-container hidden">
            <label for="desert" class="label-input-desert">Назва десерту</label>
            <input
              type="text"
              name="desertName"
              id="desert"
              class="input-dessert"
            />
            <button type="submit" class="btn-create-dessert">Готово</button>
          </form>