<div class="container">
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="./index" class="nav-link">Головна</a></li>
      <li><a href="./listDesserts" class="nav-link">Список рецептів</a></li>
      <li><a href="./calculator" class="nav-link">Калькулятор десертів</a></li>
    </ul>
  </nav>
</div>