<div class="backdrop">
    <div class="modalWindow">
        <button type="button" class="btn-close"><svg width="15" height="15">
                <use href="/public/img/icons.svg#icon-cross">

                </use>
            </svg></button>
        <form class="formDiameter">
            <h2 class="titleForm">Додайте розмір форми десерту</h2>
            <input class="input-diameter" name="diametr" type="number" required />
            <button type="submit" class="btn-successfully-dessert">Готовий десерт</button>
        </form>
    </div>
</div>