.list-recepie-dessert {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.label-title-recepie {
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
}

@media screen and (min-width: 600px) {
  .label-title-recepie {
    font-size: 15px;
  }
}

.recepie-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffebed;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
  padding: 20px;
}

.title-recepie {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
}

@media screen and (min-width: 600px) {
  .title-recepie {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #6e1a2b;
  }
}

.sub-title-recepie {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .sub-title-recepie {
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: #6e1a2b;
    margin-top: 20px;
  }
}

.wrap-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.wrap-btns-edit-recepie {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.label-edit-recepie {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.form-recepie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
