.list-ingredients-recepie {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.btn-successfully-dessert {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #6e1a2b;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: #ffebed;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-successfully-dessert:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  cursor: pointer;
}