.backdrop {
position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  pointer-events: auto;
}
  

.modalWindow {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  @media (min-width: 600px) {
    padding: 20px;
  }
}

.titleForm {
    font-size: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
  margin-bottom: 20px;
}

.input-diameter {
  width: 90%;
  height: 30px;
  background-color: #ffebed;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  padding-left: 15px;
  color: #6e1a2b;
}

.formDiameter {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}