* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

fieldset {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffe0e4;
  background-image: url("./img/background.png");
  background-size: 70%;
  background-position: center;
  background-attachment: fixed;
}

.header {
  padding-top: 20px;
  padding-bottom: 50px;
  padding: 27px 25px;
}

.header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 21px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.nav-link {
  text-transform: uppercase;
  color: #6e1a2b;
  font-size: 11px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  padding: 25px 10px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
  background-color: white;
  border-radius: 16px;
}

@media screen and (min-width: 400px) {
  .nav-link {
    padding: 27px 25px;
    font-size: 13px;
  }
}

.section-form-menu .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 21px;
  margin: 0 auto;
  background-color: #ffebed;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
}

@media screen and (min-width: 600px) {
  .section-form-menu .container {
    width: 550px;
  }
}

.section-form-menu {
  padding-top: 20px;
}

.menu-title-recepie {
  font-size: 40px;
  font-weight: 700;
  color: #6e1a2b;
  text-align: center;
  margin-bottom: 20px;
}

.list-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.title-dessert {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.6;
  color: #6e1a2b;
}

.wrap-title-ingredients {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.visible-btn {
  color: #6e1a2b;
  font-size: 8px;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  height: 30px;
  border-radius: 16px;
  background-color: #ffebed;
  margin: 0 auto;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visible-btn:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.btn-dessert {
  color: #6e1a2b;
  font-size: 9px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 16px;
  background-color: #ffebed;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-dessert:hover {
  background-color: #f48fa3;
  border-color: transparent;
  fill: white;
  color: white;
  cursor: pointer;
}

.btn-create-recepie {
  color: #6e1a2b;
  font-size: 9px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 16px;
  background-color: #ffebed;
  margin: 0 auto;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg {
  pointer-events: none; /* Щоб кліки йшли на кнопку, а не на саму іконку */
}

.btn-create-recepie:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  fill: white;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

.input-dessert {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: #ffebed;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  padding-left: 15px;
  color: #6e1a2b;
}

.input-dessert:focus {
  border: 2px solid #6e1a2b;
}

.btn-create-dessert {
  margin-top: 20px;
  color: #6e1a2b;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: #ffebed;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-create-dessert:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.add-btn-desert {
  color: #6e1a2b;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: #ffebed;
  margin-top: 15px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-btn-desert:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.sub-title-recepie {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .sub-title-recepie {
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: #6e1a2b;
    padding-top: 20px;
  }
}

.input-title-recepie {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: #ffebed;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  padding-left: 15px;
  color: #6e1a2b;
}

.input-title-recepie:focus {
  border: 2px solid #6e1a2b;
}

@media screen and (min-width: 600px) {
  .input-title-recepie {
    height: 40px;
  }
}

.label-input-desert {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
}

.label-title-recepie {
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
}

@media screen and (min-width: 600px) {
  .label-title-recepie {
    font-size: 15px;
  }
}

.form-title-recepie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.form-edit-ingredients {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.label-edit-ingredients {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.input-edit-ingredients {
  width: 90%;
  height: 30px;
  background-color: #ffebed;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  padding-left: 15px;
  color: #6e1a2b;
}

.input-edit-numb {
  width: 70px;
  height: 30px;
  background-color: #ffebed;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  padding-left: 15px;
  color: #6e1a2b;
}
.list-ingredients-recepie {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.title-recepie {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
}

/* .wrap-btn-recepie {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
} */

.wrap-btn {
  display: flex;
}

.form-edit-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .title-recepie {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #6e1a2b;
  }
}

.ingredients-text {
  margin-right: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #6e1a2b;
}

.title-ingredients {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #6e1a2b;
}

.wrap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recepie-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffebed;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
  padding: 20px;
}

.wrap-recepie {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-recepie-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.list-ingredients-recepie {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-ingredients-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-successfully-desert {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #6e1a2b;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgb(255, 255, 255);
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background-color: #ffebed;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-successfully-desert:hover {
  background-color: #f48fa3;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.form-edit-dessert {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffe0e4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cookie {
  width: 100px;
  height: 125px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
